<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>文字で遊ぼう</title>
  <link href="/layout.css" rel="stylesheet">
</head>
<body>
<div class="wrapper">
  <div class="contents">
    <form action="/" method="GET" class="form">
      <input type="text" name="keyword" placeholder="書いてみよう">
      <input type="submit" value="分解する">
    </form>
    <div class="result">
      <div class="result-item">
        <%= @prefecture %>
      </div>
      <div class="result-item">
        <%= @city %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
