<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>文字で遊ぼう</title>
  </head>
  <body>
    <h3>県庁所在地はどこ？</h3>
    <p>フォームに入力されたデータから、県庁所在地の●●県●●市から県名と市名を抽出するプログラムをつくろう</p>

    <img src="/robot.png" alt="ロボット画像">
    <p><%= @keyword %>の県名は<%= @prefecture %>です。</p>
    <p><%= @keyword %>の県庁所在地は<%= @city %>です。</p>
    <p>神奈川県横浜市、福岡県福岡市、三重県津市の3つどれを代入しても県名と市名を分けて次のように出力される事を確認しましょう。</p>
    <form action="/" method="GET">
      <label>件名と: <input type="text" name="keyword" placeholder="(例)神奈川県横浜市"></label>
      <input type="submit" value="送信">
    </form>
  </body>
</html>